<div id="<%= dom_id game %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= game.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rules url:</strong>
    <%= game.rules_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shop url:</strong>
    <%= game.shop_url %>
  </p>

</div>
