<div id="<%= dom_id competition %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Game:</strong>
    <%= competition.game_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= competition.name %>
  </p>

</div>
