<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing competition</h1>

  <%= render "form", stats_competition: @stats_competition %>

  <%= link_to "Show this competition", @stats_competition, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to competitions", stats_competitions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
